
@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "../scss/functions";
@import "../scss/variables";

@import "../scss/mixins/breakpoints";
@import "../scss/mixins/grid-framework";
@import "../scss/mixins/grid";
@import "../scss/mixins/hover";
@import "../scss/mixins/background-variant";
@import "../scss/mixins/border-radius";
@import "../scss/mixins/gradients";
@import "../scss/mixins/clearfix";
@import "../scss/mixins/float";
@import "../scss/mixins/screen-reader";
@import "../scss/mixins/text-truncate";
@import "../scss/mixins/text-emphasis";
@import "../scss/mixins/text-hide";
@import "../scss/mixins/visibility";
@import "../scss/mixins/box-shadow";
@import "../scss/mixins/forms";
@import "../scss/mixins/transition";
@import "../scss/mixins/caret";
@import "../scss/mixins/buttons";
@import "../scss/mixins/breakpoints";
@import "../scss/mixins/nav-divider";
@import "../scss/mixins/lists";
@import "../scss/mixins/badge";


@import "../scss/grid";
@import "../scss/reboot";

@import "../scss/forms";
@import "../scss/input-group";
@import "../scss/buttons";

@import "../scss/nav";
@import "../scss/navbar";
@import "../scss/dropdown";
@import "../scss/media";
@import "../scss/type";
@import "../scss/badge";
@import "../scss/card";

@import "../scss/utilities";

.search {
	width: 13rem;
	border: 1px solid #ced4da;
	border-radius: 20px;
	margin-right:16px;
	margin-top: 8px;
	.form-control {
		border:0px;
		background: none;
	}
	.btn-outline-secondary {
		border:0px;
		padding: 0px 12px;
		img {
			width: 24px;
		}
	}
}
.note {
	padding-left:20px;
	a {
		position: relative;
		margin-top: 8px;
		span {
			position :absolute;
			z-index:6;
			left:20px;
			top:0px;
			background:#FD8621;
			height:20px;
			line-height:20px;
			width: 20px;
			padding:0px;
			margin:0px;
			border-radius: 50%;
			color:#fff;
			text-align:center;
			font-size: 12px;
		}
	}
	img {
		width:20px;
	}
}
.firstmenu {
	.nav-item {
		padding: 0px 16px;
		.nav-link {
			color:#000;
		}
	}
	.active {
		background: #1BB8FF;
		border-radius: 18px;
		.nav-link {
			color: #fff;
		}
	}
}

.fixed-top {
	.bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0rem;
		top: 0rem;
		z-index: -1;
		background: #fff;
		opacity: 0.8;
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
	}
}

.navbar {
	padding-bottom: 0px;
}

body {
	padding-top: 4.5rem;
}

.navbar-light .navbar-nav .active > .nav-link {
	color: #fff;
}

.navbar-expand-lg .navbar-nav {
	line-height: 1;
}

.logo {
	height: 3rem;
}

.user {
	img {
		width:2rem;
		border-radius: 50%;
	}
	.nav-link span{
		display: inline-block;
		white-space: nowrap;
		width: 4rem;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0rem;
	}
	.dropdown-menu {
		border: 0px;
		a {
			color: rgba(0,0,0,.7);
		}
		img {
			width:20px;
			border-radius: 50%;
			margin-right: 12px;
		}
	}
}

.footer {
	line-height: 2rem;
	.into {
		border-radius: 2rem;
		img {
			height:1.6rem;
			padding-right:0.6rem;
		}
	}
	.statement {
		font-size: 0.8rem;
	}
	hr{
		margin: 0rem;
	}
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        display:none;
    }
}